:root {
    --heading-font-family: "Inter", Helvetica;
    --heading-font-weight: 600;
    --heading-font-size: 24px;
    --heading-letter-spacing: -0.48px;
    --heading-line-height: 120.00000476837158%;
    --heading-font-style: normal;
  }
  